* {
	width-left-main-panel: 300px;
}

/* Botones */
.button{
	/* size & font */	
}
.radButton{
	-fx-border-radius: 5;
	-fx-background-radius: 5;
}
.noRadButton{
	-fx-border-radius: 0;
	-fx-background-radius: 0;
}
* .tableButton{
	-fx-border-width: 0;
	-fx-font-size: 9.3px;
	-fx-text-fill: white;	
}

* .deleteButton{
	-fx-background-color: #7e002e;
}
* .deleteButton:hover{
	-fx-background-color: #990037;
}
* .detailsButton{
	-fx-background-color: #e7bd29;	
}
* .detailsButton:hover{
	-fx-background-color: #f5c92b;	
}


/* Paneles */
* .panelGeneral {
	-fx-background-color: white;
	-fx-border-radius: 10px;
	-fx-background-radius: 10px;	
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, .1, 10.0, 10.0);
}


/*      */
/* MAIN */
/*      */

/* Barra opciones */
.topBarButton{
	-fx-pref-width: 45px;
	-fx-pref-height: 25px;		
	-fx-border-color: TRANSPARENT;
}

/*Left panel */
.widthLeftPanel{	
	-fx-min-width: width-left-main-panel;
	-fx-max-width: width-left-main-panel;
}
.menuButton, .topBarButton{
	-fx-background-color: TRANSPARENT;
	-fx-text-fill: white;
	-fx-text-style: bold;
	-fx-cursor: hand;	
}
.menuButton:hover > topBarButton:hover{
	-fx-background-color: rgba(255, 255, 255, 0.1);	
}
.menuOptionButton{
	-fx-padding: 20px 0 20px 20px;
	-fx-font-size: 20px;
}
.aditionalOptions{	
	-fx-pref-width: 80px;
	-fx-pref-height: 80px;	
}

/* Tablas */
.table-cell {     
    -fx-border-color: transparent;  
    -fx-background-color: rgba(255, 255, 255, 0.4);
}
* .table-row-cell{	
    -fx-background-color: white;
    -fx-border-width: 0;    
}
* .table-cell:hover, * .table-cell:selected, * .table-cell:selected:hover,
* .table-row-cell:hover, * .table-row-cell:selected, * .table-row-cell:selected:hover, * .table-row-cell:filled:hover,
* .table-row-cell:filled:selected:hover
{	
    -fx-border-width: 0;    
    -fx-background: #a4a4a4;
    -fx-background-color: #a4a4a4;
}
.table-view .column-header .label{
    -fx-font-weight: 400;
}
.table-view .column-header:hover {
    -fx-background-color: rgba(0, 0, 0, 0.1); /* Hover individual en nombre de columna */
}
.table-view .column-header {
    -fx-background-color: #cdcdcd; /*  Color del header */   
    -fx-size: 35;
    -fx-border-color: #9a9a9a; /* Color de borde de la tabla */
    -fx-border-width: 1 0;
    -fx-border-insets: 0;
}
.table-view .column-header-background {
    -fx-background-color: transparent; /* Si el de arriba es transparent  */
}

/* Tab */
.tab-content-area {
	-fx-background-color: #cdcdcd;
	-fx-background-radius: 5 5 5 5;
}
.tab {
	-fx-background-color: rgba(255, 255, 255, 0.6);
	-fx-pref-height: 25px;	
	-fx-pref-width: 90px;
}
.tab:hover {
	-fx-background-color: rgba(255, 255, 255, 0.8);
}
.tab:selected {
	-fx-background-color: #cdcdcd;
}
.tab-pane *.tab-header-background {
-fx-background-color: TRANSPARENT;
}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-style: none;
    -fx-border-width: 0;
    -fx-border-color: transparent;
}


/* Label */
.styledLabel{
	-fx-font-family: 'Montserrat', 'sans-serif';
	-fx-font-size: 14px;
	-fx-font-weight: 200;	
	-fx-text-fill: white;
	-fx-border-color: gray;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.1, 0.0, 0.0);	
}

.verticalLabel{
	-fx-border-radius: 10 10 0 0;
	-fx-background-radius: 10 10 0 0;
	-fx-border-width: 1 1 0 1;
	-fx-padding: 3;
}
.horizontalLabel {	
	-fx-border-radius: 10 0 0 10;
	-fx-background-radius: 10 0 0 10;
	-fx-border-width: 1 0 1 1;
	-fx-padding: 5px;
}

#controlObjetos CustomTextField, #controlObjetos Spinner, #controlObjetos ComboBox, #controlObjetos CheckComboBox, .hoverController{
	-fx-pref-height: 32px;
	-fx-max-height: 32px;
}



.progress-indicator:indeterminate > .spinner {
    -fx-background-color: black;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}


#historyPane Label {
	-fx-font-size: 14px;
	-fx-text-fill: black; 	
	-fx-font-weight: 200;
}
#historyPane #tableSale * .table-cell {
	-fx-background-color: transparent;
    -fx-text-fill: white;
	-fx-text-style: bold;
    -fx-font-size: 18px;
    -fx-alignment: CENTER;
    -fx-border-width: 0;
}
#historyPane #tableSale .table-row-cell {
    -fx-background-radius: 3em;	
	-fx-border-radius: 0;
	-fx-border-width: 8px 0;
	-fx-border-color: white;
	-fx-border-insets: -2;
}
#historyPane #tableSale .table-cell:hover,
#historyPane #tableSale TableView2 {
	-fx-background-color: transparent;	
}

.split-pane > .split-pane-divider {
	-fx-min-width: 20px;
	-fx-background-color: transparent;	
}

.labelFormTitle{
	-fx-font-size: 15px;
	-fx-font-weight: 700; 	
}
.labelForm{
	-fx-font-weight: 700; 
}

* .check-box:indeterminated > .box > .mark {
	-fx-shape: "M 17.0001 9 L 10 16 L 7 13";
}
* .check-box > .box > .mark {
	-fx-shape: "M163.865,436.934c-14.406,0.006-28.222-5.72-38.4-15.915L9.369,304.966c-12.492-12.496-12.492-32.752,0-45.248l0,0   c12.496-12.492,32.752-12.492,45.248,0l109.248,109.248L452.889,79.942c12.496-12.492,32.752-12.492,45.248,0l0,0   c12.492,12.496,12.492,32.752,0,45.248L202.265,421.019C192.087,431.214,178.271,436.94,163.865,436.934z";
}





