*{
	backgroundA: #676767;
	backgroundB: #adadad;
	buttonBg: #ededed;
	buttonHover: #dfdfdf; 
	buttonBorder: #adadad; 
	buttonLabel: #adadad;
	labelOut: #adadad; 
	labelIn: #FFFFFF;
	side: #888888;
}
* Button{
	-fx-background-color: buttonBg;
	-fx-border-color: buttonBorder;
	-fx-text-fill: buttonBorder;
}

* Button:hover{	
	-fx-background-color: buttonHover;
}

#loginPane, .mainBackground{
	-fx-background-color: linear-gradient(from 100% 100% to 0% 0%, backgroundA, backgroundB);		
}

#menuMainPanel{	
	-fx-background-color: side;
}
#menuMainPanel Button:hover{	
	-fx-background-color: backgroundA;
}
#menuMainPanel Button{	
	-fx-border-color: transparent;
}

.tableStylized * .table-row-cell{
	-fx-background-color: backgroundA;
}
.tableStylized * .table-row-cell:empty{
	-fx-background-color: backgroundB;
}
.styledLabel{	
	-fx-background-color: buttonBorder;
}
.labelFormTitle{
	-fx-text-fill: backgroundA; 
}
.labelForm{
	-fx-text-fill: buttonBorder;
}

CustomTextField:focused, .spinner:focused, ComboBox:focused, CheckComboBox:focused, 
TextArea:focused, TextField:focused, .mainBackground .password-field:focused {
	-fx-background-color: buttonBorder, white;
}
.date-picker:focused{
	-fx-background-color: white, buttonBorder;	
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-background-color: buttonBg;
    -fx-border-color: buttonBorder;
}
.spinner .increment-arrow-button:hover ,
.spinner .decrement-arrow-button:hover {
	-fx-background-color: buttonHover;
}


.check-box:hover > .box, .check-box:focused > .box{
	-fx-background-color: buttonHover;
}
.check-box > .box {
    -fx-background-color: buttonBg;
    -fx-border-color: buttonBorder;
}


#configPane {
	-fx-background-color: linear-gradient(from 100% 100% to 0% 0%, backgroundA, backgroundB);		
}


